/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

header {
	width: 100%;
	/*display: inline-block;*/
}

#logo {
	width: 200px;
	margin: 35px;
	margin-top: 50px;
	float: left;
	color: chocolate;
}

/*#slider {
	background: blue;
	width: 100%;
	margin: 10px 2%;
}*/

main {
	clear: both;
	margin: 25px;
}

nav {
	float: left;
	background: lightgray;
	min-width: 15%;
}

aside {
	float: right;
	background: lightgray;
	min-width: 15%;
}

article {
	margin: 0 15%;
}

#content {
	background: steelblue;
}

#location {
	background: tomato;
}

footer {
	clear: both;
	background: darkgray;
	margin-top: 200px;
}

nav a, aside a {
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
}

nav a:hover, aside a:hover {
	font-weight: bold;
	color: chocolate;
}

.active {
	font-size: 2em;
}

/* Products */

.product img {
	width: 100px;
}

article .product {
	float: left;
	width: 30%;
	margin: 1.6%;
}

/* 
 ****** Slider ******
 * */

#slider {

  	margin: 10px 25px;
  	height: 180px;
	border:1px solid;
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.photo {
	position: absolute;
  	width: -webkit-calc(100% - 20px);
 	height: -webkit-calc(100% - 20px);
 	width: -moz-calc(100% - 20px);
 	height: -moz-calc(100% - 20px);
  	-moz-animation: round 18s infinite;
  	-webkit-animation: round 18s infinite;
  	opacity: 0;  
}

@-moz-keyframes round{
	10%{z-index: 10;}   
	25%{opacity: 1;}
	35%{z-index: 1;}
	40%{opacity: 0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes round{
	10%{z-index: 10;}   
 	25%{opacity: 1;}
  	35%{z-index: 1;}
  	40%{opacity: 0;}
} 


img:nth-child(3){-moz-animation-delay:0s;}
img:nth-child(2){-moz-animation-delay:6s;}
img:nth-child(1){-moz-animation-delay:12s;}
/* Chrome, Safari, Opera */
img:nth-child(3){-webkit-animation-delay:0s;}
img:nth-child(2){-webkit-animation-delay:6s;}
img:nth-child(1){-webkit-animation-delay:12s;}