/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1 {
	font-size: 3em;
	margin: 15px 0 30px;
}

h2 {
	font-size: 2.2em;
	margin: 10px 0 25px;
}

h3 {
	font-size: 1.8em;
	margin: 10px 0 20px;
}

h4 {
	font-size: 1.4em;
	margin: 10px 0 10px;
}

h5 {
	font-size: 1.2em;
	margin: 10px 0 5px;
}

header {
	width: 100%;
}

#logo {
	float: left;
	width: 300px;
	margin: 35px;
	margin-top: 50px;
}

main {
	clear: both;
	margin: 25px;
}

nav, aside {
	background: lightgray;
	min-width: 12%;
	border-radius: 10px;
}

nav {
	float: left;
	margin-right: 3%;
}

aside {
	float: right;
	margin-left: 3%;
}

#mainArticle {
	margin: 0 15%;
	border-radius: 10px;
	border: 4px rgb(115,73,10) solid;
	padding: 20px;
	overflow: hidden;
}

#content {
	background: inherit;
}

#location {
	background: inherit;
}

footer {
	clear: both;
	background: darkgray;
	margin-top: 200px;
}

nav a, aside a {
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
}

nav a:hover, aside a:hover {
	font-weight: bold;
	color: chocolate;
}

.active {
	font-size: 2em;
}

address {
	margin: 10px 0px 10px 30px;
	font-style: italic;
}

fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 6px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove gray;
}

/* Products */

.product img {
	width: 100%;
	box-shadow: 10px 10px 10px gray;
	margin-bottom: 30px;
}

article .product {
	float: left;
	width: 30%;
	margin: 1.6%;
}

/* 
 ****** Slider ******
 * */

#slider {
  	width: 50%;
	padding: 25px 30px;
	padding-top: 25px;
	border: 4px rgb(115,73,10) solid;
	border-radius: 10px;
	margin: 20px 25%;
}

#slider img {
	width: 100%;
	max-height: 200px;
}

